[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
pokemonreport="python ./scripts/pokemon.py"
kdtree="python ./scripts/kdtreeexplore.py"
