[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
pokemonreport="python ./scripts/pokemon.py"
kdtree="python ./scripts/kdtreeexplore.py"
reading4="python ./scripts/reading4.py"
entropy="python ./scripts/entropy.py"
id3="python ./scripts/id3.py"
bank="python ./scripts/bank.py"
featureselection="python ./scripts/featureselection.py"
kml="python ./scripts/kml.py"
pipeline="python ./scripts/pipeline.py"
